# Wireguard client config for {{ item.name }}

[Interface]
Address = {{ item.address4 }}
{% if item.address6 is defined %}
Address = {{ item.address6 }}
{% endif %}
{% if item.private_key is defined %}
PrivateKey = {{ item.private_key }}
{% else %}
PrivateKey = PLACEHOLDER FOR YOUR PRIVATE KEY
{% endif %}
{% if vpn_dns_resolvers is defined %}
DNS = {{ vpn_dns_resolvers | join(', ') }}
{% endif %}
{% if 'preup' in item %}
PreUp = {{ item['preup'] }}
{% endif %}
{% if 'postdown' in item %}
PostDown = {{ item['postdown'] }}
{% endif %}
{% if 'table' in item %}
Table = {{ item['table'] }}
{% endif %}
{% if 'mtu' in item %}
MTU = {{ item['mtu'] }}
{% endif %}

[Peer]
PublicKey = {{ vpn_public_key }}
{% if 'allowed_ips' in item %}
AllowedIPs = {{ item['allowed_ips'] | join(', ') }}
{% else %}
AllowedIPs = 0.0.0.0/0, ::/0
{% endif %}
{% if vpn_endpoint is defined %}
Endpoint = {{ vpn_endpoint }}:{{ vpn_listen_port }}
{% else %}
Endpoint = {{ ansible_default_ipv4.address }}:{{ vpn_listen_port }}
{% endif %}
{% if 'psk' in item %}
PresharedKey = {{ item['psk'] }}
{% endif %}
