# {{ ansible_managed }}

[NetDev]
Name = {{ vpn_interface }}
Kind = wireguard
Description = WireGuard VPN interface

[WireGuard]
PrivateKey = {{ vpn_private_key }}
ListenPort = {{ vpn_listen_port }}

{% for client in vpn_clients %}
# {{ client['name'] }}
[WireGuardPeer]
PublicKey = {{ client['public_key'] }}
{% if 'psk' in client %}
PresharedKey = {{ client['address4'] }}
{% endif %}

AllowedIPs = {% if 'address4' in client %}{{ client['address4'] }}{% endif %} {% if 'address6' in client %}{{ client['address6'] }}{% endif %}

{% endfor %}
