# {{ ansible_managed }}
[NetDev]
Name = {{ vpn_interface }}
Kind = wireguard
Description = WireGuard VPN interface

[WireGuard]
PrivateKey = {{ vpn_private_key }}
ListenPort = {{ vpn_listen_port }}

{% for wg_host in vpn_clients %}
# {{ wg_host['name'] }}
[WireGuardPeer]
PublicKey = {{ wg_host['public_key'] }}
AllowedIPs = {% if 'address4' in wg_host %}{{ wg_host['address4'] }}/32{% endif %} {% if 'address6' in wg_host %}{{ wg_host['address6'] }}/128{% endif %}

{% endfor %}
