# {{ ansible_managed }}

[Match]
Name = {{ vpn_interface }}

[Network]
Address = {{ vpn_address6 }}
Address = {{ vpn_address4 }}
IPForward = yes

# NDP proxying needs to be defined in the LAN interface .network file
